* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.svg text eol=lf diff=svg

*.avif binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.webp binary

*.eot binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary

*.pdf binary
*.sqlite binary
*.sqlite3 binary
*.zip binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
